
.h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.simple-article-header {
  background: #fefefe;
  padding: 1.3rem 2rem .7rem;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.article-author-comments{
  padding-left: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.article-post-content {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-wrap: wrap;
}
.article-date-read {
  padding-left: 30px;
}
.forbes-brand {
float: left
}

.related {
  font-size: 30px;
}

.article-post-image {
  padding: 5px;
 
}

.newformats {
  font-size: 20px;
}

.reinforcing {
  font-size: 20px;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.sidebar {
  background-color: lightpurple;
  width: 120%;
  padding: 15px;
  margin: -470px 50px 5px 10px;
  text-wrap: wrap;
}
 
.pressrelease {
  width: 100%;
}

.mapdesc {
  width: 100%;
}




.pull-quote {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: 25px;
  max-width: 100%;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #1779ba;
  float: right;
  margin: 10px 0 0 20px;
  background: linear-gradient(#767676, #1779ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




